
img {
  width: 195px;
  margin-right: 15px;
  float: left;
}

h5 {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 30px;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 22px;
  font-family: 'Chivo', sans-serif;
  padding: 30px 0px 30px 0px;
}

button {
  background-color:  #6643bc;
  color: white;
}
a:link {
 color: white;
 text-decoration: none;
}

a:visited {
 color: white;
}

.modal-header {
  background-color: #6643bc;
}

.header {
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  background-color: #6643bc;
  color: white;
  padding-left: 38px;
}

.left-label {
  width: 80%;
  margin-right: 0px;
  font-size: 15px;
}

.right-label {
  width: 80%;
  margin-left: 200px;
  font-size: 15px;
}

@media (min-width: 576px) {
  .header {
  font-size: 125px;
  padding-left: 100px;
  }
  h1 {
    font-size: 40px;
  }
  .left-label {
    font-size: 30px;
    width: 350px;
  }
  .right-label {
    margin-left: 120px;
    width: 90%;
    font-size: 30px;
  }
}

.foreground {
  margin: 20px;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
}

.range {
  width:100%;
}


.bold {
  font-weight: bolder;
}

input[type='range']::-webkit-slider-thumb {
  background: #6643bc;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:7px solid #6643bc;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #6643bc;
}
