
#q3RightLabel {
  float: right;


img {
  width: 165px;
  margin-right: 15px;
  float: left;
}

h5 {
  /* font-family: 'Lora', serif; */
  font-size: 30px;
}

p {
  font-size: 17px;
  /* font-family: 'Assistant', sans-serif; */
}

.modal-header {
  background-image: url(https://i2.pickpik.com/photos/20/186/442/notebook-paper-paper-texture-lines-preview.jpg);
}
